@using pax.blazor.survey.Models
@using pax.blazor.survey.Data
@using pax.blazor.survey.Services
@inject DbService _db

<InputRadioGroup @bind-Value="Response.Pos">
    @for (int i = 0; i < Question.Options.Count(); i++)
    {
        int j = i;
        Option qoption = Question.Options.First(f => f.Pos == j + 1);
        <div>
            <label>
                <InputRadio Value="qoption.Pos"></InputRadio>
                @qoption.OptionValue
            </label>
        </div>
    }
</InputRadioGroup>

@code {
    [Parameter]
    public Question Question { get; set; }

    [CascadingParameter(Name = "Context1")]
    protected EditContext editContext { get; set; }

    [CascadingParameter(Name = "Survey1")]
    protected Survey Survey { get; set; }

    [CascadingParameter(Name = "User1")]
    protected User User { get; set; }

    Response Response;

    protected override void OnParametersSet()
    {
        Response = _db.GetResponse(Survey, Question, User);
        base.OnParametersSet();
    }

}