@using pax.blazor.survey.Models
@using pax.blazor.survey.Data
@using pax.blazor.survey.Services
@using Microsoft.Extensions.Logging 
@inject DbService _db
@inject ILogger<AnswerBoolComponent> _logger

<InputRadioGroup @bind-Value="Response.Pos">
    <div>
        <label>
            <InputRadio Value="Question.Options.First(f => f.Pos == 1).Pos"></InputRadio>
            @Question.Options.First(f => f.Pos == 1).OptionValue
        </label>
    </div>
    <div>
        <label>
            <InputRadio Value="Question.Options.First(f => f.Pos == 2).Pos"></InputRadio>
            @Question.Options.First(f => f.Pos == 2).OptionValue
        </label>
    </div>
</InputRadioGroup>

@code {
    [Parameter]
    public Question Question { get; set; }

    [CascadingParameter(Name = "Context1")]
    protected EditContext editContext { get; set; }

    [CascadingParameter(Name = "Survey1")]
    protected Survey Survey { get; set; }

    [CascadingParameter(Name = "User1")]
    protected User User { get; set; }

    Response Response;

    protected override void OnParametersSet()
    {
        Response = _db.GetResponse(Survey, Question, User);
        base.OnParametersSet();
    }

}