@inject Microsoft.JSInterop.IJSRuntime _js
<h3>ChartComponent</h3>

@*<button type="button" class="btn btn-primary" @onclick="e => ChartJsInterop.Init2(_js)">Show</button>*@
<div id="chart_div"></div>

@code {

    
}
