@using pax.blazor.survey.Models
@using pax.blazor.survey.Data


@for (int i = 0; i < Question.Options.Count(); i++)
{
    int j = i;
<div class="col">
    <label>
        <InputCheckbox @bind-Value="Response.Answers.ElementAt(j).AnswerBool" />
        @Question.Options.ElementAt(j).OptionValue
    </label>
</div>
}

@code {
    [Parameter]
    public Question Question { get; set; }

    [CascadingParameter(Name = "Context1")]
    protected EditContext editContext { get; set; }

    [CascadingParameter(Name = "Survey1")]
    protected Survey Survey { get; set; }

    [CascadingParameter(Name = "User1")]
    protected User User { get; set; }

    Response Response;

    protected override void OnParametersSet()
    {
        Response = User.Responses.FirstOrDefault(f => f.Survey == Survey && f.Question == Question);
        if (Response == null)
        {
            Response = new Response();
            Response.Survey = Survey;
            Response.User = User;
            Response.Question = Question;
            Response.Answers = new List<Answer>();
            for (int i = 0; i < Question.Options.Count; i++)
                Response.Answers.Add(new Answer() { Pos = Question.Options.ElementAt(i).Pos,  Response = Response });
            User.Responses.Add(Response);
        }
        base.OnParametersSet();
    }

}