@page "/result"
@page "/result/{SurveyUrl}"
@using pax.blazor.chartjs
@using pax.blazor.survey.Services
@using pax.blazor.survey.Models
@using pax.blazor.survey.Components;
@using Microsoft.Extensions.Logging
@inject DbService _db
@inject ILogger<ResultPage> _logger

@if (isLoading)
{
    <ChartJSComponent chartId="0"></ChartJSComponent>
}
else
{
    @if (survey != null)
    {
        <h3>Result for @survey.SubUrl</h3>
        @foreach (Question question in survey.Questions)
        {
            <h4>@question.Interview</h4>
            @if (question.Type == (int)QuestionType.Text || question.Type == (int)QuestionType.LongText)
            {
                <ResultTextComponent question="question"></ResultTextComponent>
            }
            else
            {
                <div class="" style="width: 600px;">
                    <ChartJSComponent chart="question.Chart" chartId="question.Pos"></ChartJSComponent>
                </div>
            }
        }
    }
}


@code {
    [Parameter]
    public string SurveyUrl { get; set; }

    Survey survey;
    bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        _logger.LogInformation("init");
        await Init();
    }

    public async Task Init()
    {
        SurveyUrl = "test";
        survey = await _db.GetSurveyAsync(SurveyUrl);
        ResultService.CreateQuickResult(survey);
        _logger.LogInformation("init done");
        isLoading = false;
    }
}
