@page "/result"
@page "/result/{SurveyUrl}"
@using pax.blazor.chartjs
@using pax.blazor.survey.Services
@using pax.blazor.survey.Models
@using pax.blazor.survey.Components;
@using Microsoft.Extensions.Logging
@inject DbService _db
@inject AuthenticationStateProvider _auth
@inject ILogger<ResultPage> _logger

@if (isLoading)
{
    <ChartJSComponent chartId="0"></ChartJSComponent>
}
else
{
    @if (survey != null)
    {
        <h3>Result for @survey.SubUrl</h3>
        @foreach (Question question in survey.Questions)
        {
            <h4>@question.Interview <span class="badge badge-info">&sum; @question.Count</span></h4>
            @if (question.Type == (int)QuestionType.Text || question.Type == (int)QuestionType.LongText)
            {
                <ResultTextComponent question="question"></ResultTextComponent>
            }
            else
            {
                <div class="" style="width: 600px;">
                    <ChartJSComponent chart="question.Chart" chartId="question.Pos"></ChartJSComponent>
                </div>
            }
        }
    } else { 
        <p>There are no results available.</p>
    }
}


@code {
    [Parameter]
    public string SurveyUrl { get; set; }

    [Parameter]
    public Survey survey { get; set; }

    bool isLoading = true;
    string AuthName = String.Empty;


    protected override async Task OnInitializedAsync()
    {
        await Init();
    }

    public async Task Init()
    {
        AuthName = await AuthenticationService.CheckAuth(_auth);
        SurveyUrl = "test";
        if (survey == null)
            survey = await _db.GetSurveyAsync(SurveyUrl);
        if (survey.ShowResult == false)
        {
            survey = null;
            isLoading = false;
            return;
        }
        ResultService.CreateQuickResult(survey);
        isLoading = false;
    }
}
